@(languages:be.flo.project.dto.ListDTO[be.flo.project.dto.LangDTO],data:be.flo.project.dto.InterfaceDataDTO)

@import com.fasterxml.jackson.databind.ObjectMapper

@template(languages,data) {

    <div ng-controller="HomeCtrl">

        <div ng-view></div>

        <button type="button" class="btn btn-primary" ng-click="downloadModal()">TEST DOWNLOAD</button>

        <div id="fb-root"></div>

        <fb:login-button scope="public_profile,email,user_friends" onlogin="checkLoginState();">
        </fb:login-button>

    </div>
}