@(languages:be.flo.project.dto.ListDTO[be.flo.project.dto.LangDTO],data:be.flo.project.dto.InterfaceDataDTO)

@import com.fasterxml.jackson.databind.ObjectMapper

@template(languages,data) {

    <script>
////    $(document).ready(function() {
//        console.log('r');
////    $.ajaxSetup({ cache: true });
////    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
//    FB.init({
//    appId: '1432915530336007',
//    version: 'v2.3' // or v2.0, v2.1, v2.0
//    });
////    $('#loginbutton,#feedbutton').removeAttr('disabled');
//    FB.getLoginStatus(function(response){
//        console.log(response);
//
////    });
//    });
////    });
    </script>

    <div ng-controller="HomeCtrl">

        <div ng-view></div>

        <button type="button" class="btn btn-primary" ng-click="downloadModal()">TEST DOWNLOAD</button>

        <div id="fb-root"></div>

    </div>
}